@model Enursery3ccf.Models.Admin

@{
    ViewBag.Title = "AdminLoggedIn";
}

<h2>Admin Authentication</h2>
<hr />
<br />
<br />

@if (Session["AdminId"] != null)
{
    <h2>Authentication Successful</h2>
    <br />
    <h3>Welcome Admin @Session["AUsername"].ToString()</h3>
    <h3>Your ID is @Session["AdminId"].ToString() </h3>

    @Html.ActionLink("Proceed to Login", "AdminLogin")
}